header {
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

header .titulo {
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
}

header .contador-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2em;
    color: #555;
}

header #contador {
    background-color: #28a745;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Hace que el contador sea un círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1em;
}